<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Love ejs template</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <h1>Welcome !!</h1>
  <h2>yourName : <%= yourName %></h2>
  <h2>partnerName : <%= partnerName %></h2>
  <h2>percentage : <%= percentage %></h2>
  <h2>result : <%= resultNum %></h2>
  <p>테스트테스트</p>
</body>
</html>